@import '../styles/variables';

.app-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  max-width: $main-max-width;
  padding: 1em 4em 4em 4em;
  margin: auto;
  background-color: $main-bg-color;

  .page-container {
    width: 100%;
    height: 100%;

    > section {
      position: relative;
      height: 100%;
    }

    article {
      padding-bottom: 1em;
    }

    .footnotes {
      position: absolute;
      bottom: 0;
      padding: 0 1em;
      font-size: small;
    }
  }

  a {
    font-weight: bold;
  }
}
