.App {
  text-align: center;
}

main {
  position: relative;
  max-width: 900px;
  margin: auto;
  text-align: left;
}

main nav {
  padding: 1em 0;
}

section {
  clear: both;
}

.skillslist {
  max-width: 35em;
  list-style: none;
  padding: 0;
}

.skillslist li {
  display: inline-block;
}

.skillslist li::after {
  content: "\2022";
  padding: 0 0.5em;
}

.skillslist li:last-of-type::after {
  content: '';
}
