@import '../styles/variables';

.skills {
  margin-top: 2em;

  &__skillslist {
    max-width: 35em;
    padding: 1em 0 0 0;
    margin: 0;
    list-style: none;

    li {
      display: inline-block;

      &::after {
        padding: 0 0.5em;
        content: "\2022";
      }

      &:last-of-type::after {
        content: none;
      }
    }
  }
}

.jobs {
  margin-top: 2em;

  .job {
    margin-bottom: 1em;

    p {
      margin: 0;
    }

    &__job-details {
      display: flex;
      flex-direction: row;
    }

    &__tenure {
      font-size: smaller;
      color: $color-grey;
    }

    &__company-logo {
      display: flex;
      flex-shrink: 0;
      width: 80px;
      height: 80px;
      margin-right: 1em;
      overflow: hidden;
      border: 1px solid $color-black;
      border-radius: 50%;

      a {
        display: flex;
      }

      img {
        width: 80px;
        padding: 5px;
        margin: auto;
      }
    }
  }
}

.projects {
  margin-top: 2em;
}
