@import '../styles/variables';

.skills {
  &__skillslist {
    max-width: 35em;
    padding: 0;
    list-style: none;

    .skillsgroup {
      display: block;

      &__discipline {
        padding-right: 0.5em;
        font-weight: bold;
        line-height: 1.5em;
      }

      &__skillslist {
        display: inline;
        padding: 0;
      }

      &__skill {
        display: inline-block;

        &::after {
          padding: 0 0.5em;
          content: "\2022";
        }

        &:last-of-type::after {
          content: none;
        }
      }
    }
  }
}
