@import '../styles/variables';

.skills {
  margin-top: 2em;

  &__skillslist {
    max-width: 35em;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;

      &.skill {
        &::after {
          padding: 0 0.5em;
          content: "\2022";
        }

        &:last-of-type::after {
          content: none;
        }
      }
    }

    .discipline {
      padding-right: 0.5em;
      font-weight: bold;
      line-height: 1.5em;
    }

    .skills_sublist {
      display: inline;
      padding: 0;
    }
  }
}

.jobs {
  margin-top: 2em;

  .job {
    $logo-diameter: 80px;

    margin-bottom: 1.5em;

    h3 {
      margin: 0.5em 0;
    }

    &__job-details {
      display: flex;
      flex-direction: row;
    }

    &__tenure {
      font-size: smaller;
      font-style: italic;
      color: $color-grey;
    }

    &__company-logo {
      display: flex;
      flex-shrink: 0;
      width: $logo-diameter;
      height: $logo-diameter;
      margin-right: 1em;
      overflow: hidden;
      border: 1px solid $color-black;
      border-radius: 50%;

      a {
        display: flex;
      }

      img {
        width: $logo-diameter;
        padding: 5px;
        margin: auto;
      }
    }
  }
}

.projects {
  margin-top: 2em;
}
