$color-grey: #808080;
$color-light-grey: #efefef;
$color-white: #fff;
$color-black: #000;
$color-dark-red: #590202;

$body-bg-color: $color-grey;
$main-bg-color: $color-white;
$header-bg-color: $color-dark-red;

$font-size-smaller: 0.8em;
