$color-light-grey: #efefef;
$color-dark-grey: #707070;
$color-white: #fff;
$color-black: #000;
$color-dark-red: #590202;

$body-bg-color: #606060;
$main-bg-color: $color-white;
$header-bg-color: $color-dark-red;

$font-size-smaller: 0.8em;

$main-max-width: 900px;
