@import '../styles/variables';
@import '../styles/mixins';

$height: 75px;
$avatar_diameter: 45px;

.HeaderBar {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  height: $height;
  color: $color-white;
  background-color: $header-bg-color;

  a {
    color: $color-white;
    text-decoration: none;
  }

  &__name {
    display: flex;
    align-items: center;
    padding: 0 1em;

    h1 {
      margin: 0;
    }
  }

  &__avatar {
    width: $avatar_diameter;
    height: $avatar_diameter;
    margin-right: 0.5em;
    border: 2px solid $color-white;
    border-radius: 50%;
  }
}
