@import '../styles/variables';

.intro-article {
  $image-diameter: 80px;

  &__subtitle {
    font-size: smaller;
    font-style: italic;
    color: $color-dark-grey;
  }

  &__container {
    display: flex;
  }

  &__image {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    width: $image-diameter;
    height: $image-diameter;
    overflow: hidden;
    border: 1px solid $color-black;
    border-radius: 50%;

    a {
      display: flex;
      height: 100%;
    }

    img {
      width: $image-diameter;
      padding: 5px;
      margin: auto;
    }
  }

  &__text {
    margin-left: 1em;
  }
}
