@import "../../node_modules/baguettebox.js/dist/baguetteBox.min.css";
@import "../styles/variables";

.screenshots {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__screenshot {
    margin: 0 1em;
  }

  img {
    max-width: 200px;
    height: 100px;
    border: 1px solid $color-black;
  }
}