@import "../styles/variables";

.skills {
  &__skillslist {
    padding: 0;
    list-style: none;

    .skillsgroup {
      display: block;
      line-height: 1.5em;

      &__discipline {
        padding-right: 0.5em;
        font-weight: bold;

        &::after {
          content: ":";
        }
      }

      &__skillslist {
        display: inline;
        padding: 0;
      }

      &__skill {
        display: inline-block;

        &::after {
          padding: 0 0.5em;
          content: "\2022";
        }

        &:last-of-type::after {
          content: none;
        }
      }

      .skill {
        &__rating {
          &[data-rating="1"]::before {
            content: "★";
          }

          &[data-rating="2"]::before {
            content: "★★";
          }

          &[data-rating="3"]::before {
            content: "★★★";
          }

          &[data-rating="4"]::before {
            content: "★★★★";
          }

          &[data-rating="5"]::before {
            content: "★★★★★";
          }
        }
      }
    }
  }

  &--expanded {
    .skillsgroup {
      padding-bottom: 1em;

      &__skillslist {
        display: block;
      }

      &__discipline {
        &::after {
          content: none;
        }
      }

      &__skill {
        display: block;

        &::after {
          display: none;
        }

        .skill {
          font-family: monospace;

          &__rating {
            padding-left: 1em;
          }
        }
      }
    }
  }
}