@import '../styles/variables';
@import '../styles/mixins';

.submenu {
  ul {
    padding: 0;
    list-style: none;

    li {
      display: inline;
      padding: 0 1em;

      a:hover {
        text-decoration: underline;
      }
    }

    li:not(:last-child) {
      border-right: 1px solid $color-white;
    }
  }
}
