@import "../../styles/variables";
@import "../../styles/mixins";

.trialmonitor-page {
  &__stepfunctions {
    display: flex;
    margin: 0 auto;

    @include mobile {
      width: 90vw;
    }
  }
}