---
layout: base.njk
title: Resume of Paul Kamer
keywords: resume, cv, about, personal, profile, portfolio, Paul Kamer
description: This is the personal website of Paul Kamer.
---
{# This Content will be rendered inside the `src/_includes/partials/_about.njk` file. #}
<p class="mb-4">
I am a software architect with a background in full-stack development, specializing in C# .NET, Python, and TypeScript. I'm passionate about creating robust and scalable software solutions. I possess expertise in cloud technology, particularly Azure, as well as a strong focus on backend development.
</p>

<p class="mb-4">Throughout my career, I actively mentored and provided guidance to fellow developers and acted as team lead for several projects. I am adept at analyzing business requirements and translating them into technical solutions, aligning with industry best practices and standards.</p>

  <p>Download my full CV in  <a href="/docs/cv.pdf">Dutch</a> or <a href="/docs/cv_en.pdf">English</a> (PDF, ~70 kB)</p>
