---
permalink: /site.webmanifest
eleventyExcludeFromCollections: true
---
{
  "name": "{{ site.title }}",
  "short_name": "{{ author.shortName }}",
  "icons": [
    {
      "src": "/favicon.ico",
      "type": "image/x-icon"
    }
  ],
  "theme_color": "{{ site.themeColor }}",
  "background_color": "{{ site.backgroundColor }}",
  "display": "standalone"
}