<h3 class="font-medium text-xl uppercase mb-3" id="connect">Hobbies</h3>
<ul class="flex flex-wrap mt-2">
  {% for item in author.hobbies %}
    <li class="relative inline-block mb-1 mr-1">
      <span class="flex items-center subpixel-antialiased highlight px-3 py-1 font-header font-light text-xl md:text-1xl text-lead-text transition-color duration-200 ease-in-out">{{ item.name }}</span>
    </li>
  {% endfor %}
</ul>